@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  font-family: 'QuickSand', Arial, sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
}

nav {
    background-color: #ade8f4;
    height: 50px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
    }
}

.party-logo {
  position: absolute;
  right: 0;
  width: 50%;
  margin-right: 10px;
  max-height: 270px;

  @media only screen and (max-width: 1000px) {
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
  }

  img {
    width: 100%;
    height: 100%;
    max-height: 270px;
  }
}